body {
    background: url("../images/exclusive_paper.png");
    margin-top: 1rem;
  }
html, body {
    height: 100%;
    margin: 0;
  }
.wrapper {
    min-height: 100%;
    margin-bottom: -3rem;
}
header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* The !important override in this rule is here to supercede the B4 default background color for the light navbar in the main B4 stylesheet. I feel kinda dirty about it but it's better than an inline style. */
.bg-light {
    background-color: #ffffff !important;
    padding: 0rem;
}
/* The !important override in this rule is here to supercede the B4 default text color for the navbar brand in the main B4 stylesheet. I feel kinda dirty about it but it's better than an inline style. */
.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff !important;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 0rem;
}
.navbar-nav {
    background-color: #ffffff;
}
main {
    background-color: #ffffff;
    padding: 2rem 1rem 2rem 1rem;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
img {
    padding: 1rem;
}
p {
    padding: 1rem;
    margin-bottom: 0rem;
}
footer {
    margin-top: 1rem;
    text-align: center;
    background-color: #777777;
    color: #ffffff;
    border-top: 0.5rem solid #4aaaa5;  
}
.push {
    height: 3rem;
}
.btn-info {
    background-color: #4aaaa5;
}
.card {
    margin: 1rem;
    padding: 0rem;
    border: none;
}
.card-img-top {
    padding: 0rem;
}
.card-body {
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
